body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: fantasy;
}

#button-clicker {
  background-color: aquamarine;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catchphrase {
  margin: 3rem 0;
  text-align: center;
}

.number {
  margin: 3rem 0;
  text-align: center;
  background-color: blanchedalmond;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  font-size: 3rem;
  font-weight: bold;
}

#main {
    height: 100vh;
}
#container {
  height: 50vh;
  width: 50vw;
  margin: auto;
  text-align: center;
  border: 1px solid;
  background-color: antiquewhite;
  border-radius: 500px;
  .flex{
    color: rgb(255, 142, 3);
  }
  .catchphrase{
    font-style: italic;
  }
  button {
    width: 150px;
    height: 35px;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
  }
}
